<div style="margin-bottom: 20px;">
    <p-splitButton label="Add" (onClick)="object.addOther()" [model]="addOtherItems"></p-splitButton>
</div>
@for (item of object.others; track $index) {
<div class="grid">
    <div class="col-2">
        <input type="text" pInputText [(ngModel)]="item.key" />
    </div>
    <div class="col-3">
        @if (!item.showEditor) {
        @if (editor) {
        <textarea pInputTextarea cols="45" rows="5" [(ngModel)]="item.value"></textarea>
        }
        @else {
        <input pInputText size="45" [(ngModel)]="item.value" />
        }
        }
        @else {
        <p-editor [(ngModel)]="item.value" />
        }
    </div>
    <div class="col-2">
        @if (editor) {
        <p-button icon="pi pi-file-edit" [text]="true" severity="error" (onClick)="item.switchEditor()" />
        }
        <p-button icon="pi pi-times" [text]="true" severity="warning" (onClick)="object.removeOther(item)" />
    </div>
</div>
}