<div class="grid" style="margin-bottom: 20px;">
    <div class="col-5">
        <p-splitButton label="Add" (onClick)="addOther()" [model]="addOtherItems"></p-splitButton>
    </div>
    @if(editor && object.others.length > 0) {
    <div class="col-1">
        <p-button icon="pi pi-code" severity="error" (onClick)="switchEditor()" />
    </div>
    }
</div>
@for (item of object.others; track $index) {
<div class="grid" pDraggable="gens" pDroppable="gens" dragHandle=".otherIcon" (onDragStart)="onDragStart($index)"
    (onDrop)="onDrop($index)">
    <div class="col-2">
        <i class="pi pi-bars otherIcon"></i>
        @if (setFocus && ($index == object.others.length - 1)) {
        <input type="text" pInputText [(ngModel)]="item.key" appSetFocus />
        }
        @else {
        <input type="text" pInputText [(ngModel)]="item.key" />
        }
    </div>
    <div class="col-3">
        @if (editor) {
        @if (showEditor) {
        <p-editor [(ngModel)]="item.value" />
        }
        @else {
        <textarea pInputTextarea cols="45" rows="5" [(ngModel)]="item.value"></textarea>
        }
        }
        @else {
        <input pInputText size="45" [(ngModel)]="item.value" />
        }
    </div>
    <div class="col-2">
        <p-button icon="pi pi-times" [text]="true" severity="warning" (onClick)="object.removeOther(item)" />
    </div>
</div>
}