<div style="margin-bottom: 20px;">
    <p-splitButton label="Add" (onClick)="addProject()" [model]="addProjectItems" raised text></p-splitButton>
</div>
<p-accordion [activeIndex]="0">
    @for (project of profile.projects; track $index) {
    <p-accordionTab header="{{project.name}}">
        <div class="flex flex-column gap-4" style="max-width: 800px">
            <div class="flex flex-column gap-2">
                <label for="pName">Name</label>
                @if (focus) {
                <input id="pName" type="text" pInputText [(ngModel)]="project.name" appSetFocus />
                }
                @else {
                <input id="pName" type="text" pInputText [(ngModel)]="project.name" />
                }
            </div>
            <div class="flex flex-column gap-2">
                <label for="role">Role</label>
                <input id="role" type="text" pInputText [(ngModel)]="project.role" />
            </div>
            <div class="flex flex-column gap-2">
                <label for="customer">Customer</label>
                <input id="customer" type="text" pInputText [(ngModel)]="project.customer" />
            </div>
            <div class="flex flex-column gap-2">
                <label for="fromDate">From</label>
                <p-calendar id="fromDate" showIcon="true" dateFormat="yy-mm-dd" dataType="string"
                    [(ngModel)]="project.fromDate" />
            </div>
            <div class="flex flex-column gap-2">
                <label for="toDate">To</label>
                <p-calendar id="toDate" showIcon="true" dateFormat="yy-mm-dd" dataType="string"
                    [(ngModel)]="project.toDate" />
            </div>
            <div class="flex flex-column gap-2">
                <label for="description">Description</label>
                <textarea id="description" pInputTextarea cols="45" rows="5"
                    [(ngModel)]="project.description"></textarea>
            </div>

            <app-skills [project]="project"></app-skills>

            <p-button icon="pi pi-trash" severity="warning" text raised (onClick)="profile.removeProject($index)" />
        </div>
    </p-accordionTab>
    }
</p-accordion>