<p-menubar [model]="items" autoHide="true">
    <ng-template pTemplate="end">
        <language-selector />
    </ng-template>
</p-menubar>
<p-dialog header="Custom profession" [(visible)]="customProfessionDialog">
    <input type="text" pInputText #customProfession style="margin-right: 20px;"
        (keydown.enter)="generateProfile(customProfession.value)" required="true" />
    <p-footer>
        <p-button label="Generate" (click)="generateProfile(customProfession.value)"></p-button>
    </p-footer>
</p-dialog>

<p-dialog header="{{personDialogHeader}}" [(visible)]="personDialog" [style]="{width: '500px'}">
    <p style="white-space: pre-line">{{personDialogContent}}</p>
</p-dialog>