<div class="flex gap-6 justify-content-between flex-wrap-reverse">
  <div class="flex flex-column gap-4" style="flex: 1; min-width: 300px; max-width: 800px;">
    <div class="flex flex-column gap-2">
      <label for="name" class="text-lg font-semibold">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="person.name" class="p-inputtext-lg" />
    </div>
    
    <div class="flex flex-column gap-2">
      <label for="motto" class="text-lg font-semibold">Motto</label>
      <input id="motto" type="text" pInputText [(ngModel)]="person.motto" class="p-inputtext-lg" />
    </div>
    
    <p-card header="Additional Information" styleClass="mt-4">
      <app-others [object]="person" [editorEnabled]="false" />
    </p-card>
  </div>
  
  <div class="flex flex-column gap-3 align-items-center" style="min-width: 300px;">
    <p-button (onClick)="fotoUploader.click()" icon="pi pi-camera" label="Change Photo" 
      [rounded]="true" [outlined]="true" class="w-full" />
    <input type="file" accept="image/*" #fotoUploader (change)="uploadFoto($event)" style="display: none;" />
    <img class="personFoto w-full" [src]="person.foto" (dblclick)="makeAnimation()" (click)="stopAnimation()"
      onerror="this.src='assets/default-foto.png'" alt="Profile Photo" />
  </div>
</div>